* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column ;

}

#board {
    width: 80vw;
    height: 80vh;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}
.background1{
    background-image: url("./img/Dark_Forest_9.jpg");
    background-size: cover;

}
.background2{
    background-image: url("./img/Dark_Forest_1.jpg");
    background-size: cover;

}
.background3{
    background-image: url("./img/Background_1.png"),url("./img/Background_0.png");
    background-size: cover;
}

    
    
    
#player {
    height: 30px;
    width: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index:2;
   
}

.player-going-right {
    background-image: url("./img/kenny.png");
    background-size: cover;
}

.player-going-left {
    background-image: url("./img/kenny.png");
    background-size: cover;
}

.enemy {
   
    background-image: url("./img/ghost.png");
    
    background-size: cover;
    height: 30px;
    width: 15;
    position: absolute;
    bottom: 0;
    left: 0;
}

.swap{
     
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.victory{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 500px;
    background-size: cover;

    background-image: url("./img/door.png");
}



.box {
    background-image: url("./img/box.png");
    background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    left: -60px;

}
#info{
    position:absolute;
    left:50%;
    background-color: red;
    
}
#level{
    position: absolute;
    left:40%;
    background-color: red;
}

.you-lose{
    background-image: url("./img/you-are-dead.jpg");
    background-size: cover;
}
.end{
  
    background-image: url("./img/heaven2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
}
#container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top:10px;
    width: 80vw;
    justify-content:space-between;
}
#restart{
    background-image:url("./img/restart.png");
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#exit{
    background-image:url("./img/exit.png");
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#help{
   font-size: 3em;
}